/*Aca termina todo lo que tiene que ver con el boton de desplegar la barra lateral*/

.title-card{
    font-size: 0.8rem;
    font-weight: 900;
    opacity: 80%;
  }

  .text-card{
    font-size: 2rem;
    font-weight: 200;
  }

  /* Estilos de las cards*/
  /* card de informacion de cuenta*/

  .text-title-info{
    font-size: 1.2rem;
    color: #6b6b6b;

  }

  .card-info-cuenta{
    background-image: linear-gradient(to right, #22248b , #5e60ce);
    border: none;

  }

  .card-info-cuenta .title-card {
    color: rgb(255, 255, 255);
  }

  .card-info-cuenta .text-card {
      color: #ffffff;
      font-weight: 200;
  }

  .card-info-img{
    position: relative;
    top: 8rem;
    left: -5rem;
    font-size: 3rem;
    opacity: 20%;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
  }

    /* card saldo en pesos */
  .card-ingresar-pesos{
    padding: 0.5rem;
    transition: 0.20s;
  }

  
  .card-ingresar-pesos .card-img{
        position: relative;
        top: 1rem;
        left: 1rem;
        height: 3rem;
        width: 3rem;
        
  }

  .card-ingresar-pesos .title-card {
      color: blue;
  }

  .card-ingresar-pesos .text-card {
      font-size: 1rem;
      font-weight: 400;
      color: #4e4e4e;
  }

  .card-ingresar-pesos:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  /*Card saldo en dolares.*/

  .card-saldo-dolares{
    border-left: 5px solid greenyellow;
}

.card-saldo-dolares .title-card {
    color: greenyellow;
}

.card-saldo-dolares .text-card {
    color: #6d6b6b;
}

/*Estilo de la tabla*/
th{
  color: #22248b;
}

tr {
  font-weight: 200;
}

/* Estilo de la parte de las cotizaciones */
.text-title-cotizacion{
    font-size: 1rem;
    color: #6b6b6b;
  
}