<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="" id="sidebar-wrapper">
    <a href="#" id="logo" class="m-3"><span>ClipMoney</span></a>
    <div
      class="d-flex container-fluid align-items-center mt-3 mb-3"
      id="usuario"
    >

    <!-- 
      <img
      src="user_male2-512.png"
      alt="Foto Usuario"
      id="usr-image"
      class="img-fluid img-circle col-4"
      />
    -->
      <span class="align-middle" id="nombre-usuario">{{nombreUsuario}}</span>
    </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action"
        ><i class="fas fa-home"></i> Inicio</a
      >
      <a href="#" class="list-group-item list-group-item-action"
        ><i class="fas fa-exchange-alt"></i> Transferencias</a
      >
      <a href="#" class="list-group-item list-group-item-action"
        ><i class="fas fa-user"></i> Perfil</a
      >
      <a href="#" class="list-group-item list-group-item-action"
        ><i class="fas fa-cogs"></i> Configuración</a
      >

      <button class="bg-dark" (click)="cerrar_sesion()">Salir</button>

<!--   
  <a  class="list-group-item list-group-item-action"
  ><i   class="fas fa-door-open"></i> Salir</a>
-->
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button
        class="btn bg-dark btn-outline-secondary"
        data-toggle="collapse"
        data-target="sidebar-wrapper"
        id="menu-toggle"
      >
        Menú
      </button>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Acción 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acción 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acción 3</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="saldo col-6 text-center mt-4 mb-2 p-2">
          <h2>Saldo Pesos</h2>
          <span>$ 1234.00</span>
        </div>
      </div>
      <div class="row d-flex justify-content-around">
        <div class="saldo col-4 text-center justify-content-center m-4 p-2">
          <h3>Saldo USD</h3>
          <span>U$D 1234.00</span>
        </div>
        <div class="saldo col-4 text-center justify-content-center m-4 p-2">
          <h3>Saldo BTC</h3>
          <span>₿ 0.001234</span>
        </div>
      </div>
      <div class="row d-flex justify-content-around">
        <div class="operacion m-4 p-2">
          <button id="ingresar">
            <i class="fas fa-arrow-circle-up"> Ingresar Saldo</i>
          </button>
        </div>
        <div class="operacion m-4 p-2">
          <button id="retirar">
            <i class="fas fa-arrow-circle-down"> Retirar Saldo</i>
          </button>
        </div>
      </div>
      <div class="text-center mt-2">
        <h2>Últimos Movimientos</h2>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col-2">N°</th>
              <th scope="col-4">TIPO</th>
              <th scope="col-3">ACTIVO</th>
              <th scope="col-3">MONTO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Venta</td>
              <td>USD</td>
              <td>100.00</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Compra</td>
              <td>BTC</td>
              <td>0.001234</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Compra</td>
              <td>Pesos</td>
              <td>1234.00</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Compra</td>
              <td>USD</td>
              <td>100.00</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Venta</td>
              <td>BTC</td>
              <td>0.001234</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Venta</td>
              <td>Pesos</td>
              <td>1234.00</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Compra</td>
              <td>Pesos</td>
              <td>1234.00</td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td>Compra</td>
              <td>USD</td>
              <td>100.00</td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td>Venta</td>
              <td>BTC</td>
              <td>0.001234</td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td>Venta</td>
              <td>Pesos</td>
              <td>1234.00</td>
            </tr>
          </tbody>
        </table>
        <a href="#" id="movimientos"
          ><span>Ver todos los movimientos...</span></a
        >
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
