/*Aca termina todo lo que tiene que ver con el boton de desplegar la barra lateral*/

.title-card{
    font-size: 0.8rem;
    font-weight: 900;
    opacity: 80%;
  }

  .text-card{
    font-size: 2rem;
    font-weight: 200;
  }

  /* Estilos de las cards*/
  /* card de informacion de cuenta*/

  .text-title-info{
    font-size: 1.2rem;
    color: #6b6b6b;

  }

  .card-info-cuenta{
    background-image: linear-gradient(to right, #22248b , #5e60ce);
    border: none;

  }

  .card-info-cuenta .title-card {
    color: rgb(255, 255, 255);
  }

  .card-info-cuenta .text-card {
      color: #ffffff;
      font-weight: 200;
  }

  .card-info-img{
    position: relative;
    top: 8rem;
    left: -5rem;
    font-size: 3rem;
    opacity: 20%;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
  }

    /* card saldo en pesos */
  .card-ingresar-pesos{
    padding: 0.5rem;
    transition: 0.20s;
  }


  .card-ingresar-pesos .card-img{
        position: relative;
        top: 1rem;
        left: 1rem;
        height: 3rem;
        width: 3rem;

  }

  .card-ingresar-pesos .title-card {
      color: blue;
  }

  .card-ingresar-pesos .text-card {
      font-size: 1rem;
      font-weight: 400;
      color: #4e4e4e;
  }

  .card-ingresar-pesos:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  /*Card saldo en dolares.*/

  .card-saldo-dolares{
    border-left: 5px solid greenyellow;
}

.card-saldo-dolares .title-card {
    color: greenyellow;
}

.card-saldo-dolares .text-card {
    color: #6d6b6b;
}

/*Estilo de la tabla*/
th{
  color: #22248b;
}

tr {
  font-weight: 200;
}

/* Estilo de la parte de las cotizaciones */
.text-title-cotizacion{
    font-size: 1rem;
    color: #6b6b6b;

}

*{
  font-family: 'Roboto',sans-serif;
}


ng-sidebar-container{
  height: 70rem;

}


::ng-deep .ng-sidebar {
  background-color: #fff;
  width: 300px;
  box-shadow: 0 0 2.5em rgba(85,85,85,0.5 );
}

/*navbar superior*/

.navbar-brand {
  color: black;
  font-weight: 200;
}

.navbar-brand:hover {
  color: blue;
}

.bg-white{
  background-color: white;
}
/*Estilo del menu desplegable de la izquierda*/
li{
background-color: #fff;
position: relative;
width: 30rem;
padding: 1rem;
}

li:hover{
background-color:#87f2dd;
color: white;
cursor: pointer;
}

li a {
text-decoration: none;
color: #4e4e4e;
font-size: 1rem;
}

li a:hover {
color: white;
}

.btn-cerrarsesion {
background-color: #87f2dd;
transition: 0.2s;

}

.btn-cerrarsesion:hover{
background-color: #37ffd7;
color: white;
}
/* Menu hamburger ,*/
.menu-wrap {
  top: 0;
  left: 0;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 60px;
height: 50px;
padding: 1rem;
background: var(--primary-color);
display: flex;
align-items: center;
justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
  background: rgb(126, 126, 126);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 4px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/*Aca termina todo lo que tiene que ver con el boton de desplegar la barra lateral*/

.title-card{
  font-size: 0.8rem;
  font-weight: 900;
  opacity: 80%;
}

.text-card{
  font-size: 2rem;
  font-weight: 200;
}

/* Estilos de las cards*/
/* card de informacion de cuenta*/

.text-title-info{
  font-size: 1.2rem;
  color: #6b6b6b;

}

.card-info-cuenta{
  background-image: linear-gradient(to right, #22248b , #5e60ce);
  border: none;

}

.card-info-cuenta .title-card {
  color: rgb(255, 255, 255);
}

.card-info-cuenta .text-card {
    color: #ffffff;
    font-weight: 200;
}

.card-info-img{
  position: relative;
  top: 8rem;
  left: -5rem;
  font-size: 3rem;
  opacity: 20%;
  font-family: 'Roboto',sans-serif;
  font-weight: 900;
}

  /* card saldo en pesos */
.card-ingresar-pesos{
  padding: 0.5rem;
  transition: 0.20s;
}


.card-ingresar-pesos .card-img{
      position: relative;
      top: 1rem;
      left: 1rem;
      height: 3rem;
      width: 3rem;

}

.card-ingresar-pesos .title-card {
    color: blue;
}

.card-ingresar-pesos .text-card {
    font-size: 1rem;
    font-weight: 400;
    color: #4e4e4e;
}

.card-ingresar-pesos:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

/*Card saldo en dolares.*/

.card-saldo-dolares{
  border-left: 5px solid greenyellow;
}

.card-saldo-dolares .title-card {
  color: greenyellow;
}

.card-saldo-dolares .text-card {
  color: #6d6b6b;
}

/*Estilo de la tabla*/
th{
color: #22248b;
}

tr {
font-weight: 200;
}

/* Estilo de la parte de las cotizaciones */
.text-title-cotizacion{
  font-size: 1rem;
  color: #6b6b6b;

}
/* Estilo del modal ingresar dinero */
.modal-header{
  background-image: linear-gradient(to right,#1fc4a5,#6aeed5) ;
  height: 6rem;
}

.modal-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  padding-top: 1rem;
  padding-left: 1rem;
  color: white;
}

.form-control-monto{
  border-top: none;
  border-right: none;
  border-left: none;
}
