<div class="d-flex">
    <h1>EDITAR DATOS DEL PERFIL</h1>
    <form action="">
        <div>
            <img
                src="./usr-img.png
            "
                alt="foto de perfil"
            />
        </div>
        <div>
            <label for="" class="form-label">Nombre:</label>
            <input type="text" class="form-control" disabled />
            <label for="" class="form-label">Apellido:</label>
            <input type="text" class="form-control" disabled />
            <label for="" class="form-label">Domicilio:</label>
            <input type="text" class="form-control" />
            <label for="" class="form-label">E-mail:</label>
            <input type="text" class="form-control" />
            <label for="" class="form-label">Teléfono:</label>
            <input type="text" class="form-control" />
        </div>
        <div class="row">
            <button class="btn btn-primary col-6" type="submit">
                Guardar Cambios</button
            ><button class="btn btn-secondary col-6" type="submit">
                Cancelar
            </button>
        </div>
    </form>
</div>