<nav class="navbar navbar-expand-lg navbar-dark bg-white shadow-sm" aria-label="Fifth navbar example">
  <div class="container-fluid">
    <div class="menu-wrap" (click)="abrirSideBar()">
      <input type="checkbox" class="toggler" />
      <div class="hamburger">
        <div></div>
      </div>
    </div>
    <a class="navbar-brand" href="#">
      {{ nombreUsuario }}</a>
  </div>
</nav>
<ng-sidebar-container>
  <ng-sidebar [opened]="opened">
    <!-- Sidebar -->
    <h2 class="titulo-sidebar p-3">Bienvenido a <span class="title-variante">ClipMoney</span></h2>
    <ul class="menu navbar-nav">
      <li class="nav-item"><button class="btn-item btn" (click)="routeDashboard()">Inicio</button></li>
       <li class="nav-item"> <button class="btn-item btn" (click)="routeIngresoEgreso()">Depositos y Extracciones</button> </li>

      <li class="nav-item"><button class="btn-item btn" (click)="routeTransferencia()">Transferencias</button></li>
      <li class="nav-item"><button class="btn-item btn" (click)="routeGiroAlDescubierto()">Giro al descubierto</button></li>
      <li class="nav-item"><button class="btn-item btn" >Mis datos</button></li>
    </ul>
    <button class="btn btn-cerrarsesion m-3" (click)="cerrar_sesion()">Cerrar sesion</button>
  </ng-sidebar>
  <div ng-sidebar-content>

    <app-pagina-principal *ngIf="isDashboard"></app-pagina-principal>
    <app-pantalla-ingreso-egreso-dinero *ngIf="isIngresoEgreso"></app-pantalla-ingreso-egreso-dinero>
    <app-pantalla-transferencia *ngIf="isTransferencia"></app-pantalla-transferencia>


  </div>

</ng-sidebar-container>
