<div class="container pt-4">
  <!-- Formulario de transferencia -->
  <div class="row">
    <div class="col-7">
      <h3>
        Historico de transferencias<span
          ><button
            (click)="AbrirCerrarNuevaTransferencia()"
            class="btn btn-primary ml-3"
          >
            {{ textobotonTransferencia }}
          </button></span
        >
      </h3>
      <table class="table">
        <thead>
          <tr>
            <th>Id Operacion</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody *ngFor="let transf of transferencias">
          <tr>
            <td>{{ transf.IdOperacion }}</td>
            <td>{{ transf.Fecha | date: "dd/MM/yyyy" }}</td>
            <td>{{ transf.Monto | currency }}</td>
            <td>transferencia</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5" *ngIf="nuevaTransferencia">
      <h3>Nueva transferencia</h3>
      <div class="form-group">
        <div class="row">
          <!-- Mostrar saldo -->
          <h4>Saldo: {{ cuentaOrigen.Saldo | currency }}</h4>
        </div>
        <div class="row">
          <!-- Campo CVU destino-->
          <label for="cvuDestino">CVU Destino</label>
          <input
            type="text"
            name="cvuDestino"
            id="cvuDestino"
            class="form-control"
            placeholder="Ingrese CVU destino"
            aria-describedby="helpId"
          />
          <small id="helpId" class="text-muted"
            >Debe ingresar el CVU del destinatario de la transferencia</small
          >
        </div>
        <div class="row">
          <!-- Campo monto-->
          <label for="montoTransferencia">Monto</label>
          <input
            type="text"
            name="montoTransferencia"
            id="montoTransferencia"
            class="form-control"
            placeholder="Ingrese un monto"
            aria-describedby="helpId"
          />
          <small id="helpId" class="text-muted"
            >Debe ingresar un monto menor o igual al saldo.</small
          >
        </div>
        <div class="row">
          <!-- comboBox Tipo-->
          <label for="comboCategoria">Categoria</label>
          <select
            name="comboCategoria"
            id="comboCategoria"
            class="Default select example"
          >
            <option value="{{ categorias.Alquiler }}">Alquiler</option>
            <option value="{{ categorias.AportesDeCapital }}">
              Aportes de Capital
            </option>
            <option value="{{ categorias.Cuota }}">Cuota</option>
            <option value="{{ categorias.Expensas }}">Expensas</option>
            <option value="{{ categorias.Factura }}">Factura</option>
            <option value="{{ categorias.Haberes }}">Haberes</option>
            <option value="{{ categorias.Honorarios }}">Honorarios</option>
            <option value="{{ categorias.Prestamo }}">Prestamo</option>
            <option value="{{ categorias.Seguro }}">Seguro</option>
            <option value="{{ categorias.Varios }}">Varios</option>
          </select>
          <small id="helpId" class="text-muted"
            >Debe seleccionar una categoria</small
          >
        </div>
        <div class="row">
          <button
            class="btn btn-outline-primary mb-2 mr-2"
            (click)="openVerticallyCentered(content)"
          >
            Transferir
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Input de CVU Origen -->
</div>

<!--Modal para confirmacion de la transferencia -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nueva transferencia</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Se realizara una transferencia a CVU: {{CvuDestino}} de ${{Monto}} pesos.</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cancelar
    </button>

    <button class="btn btn-info" (click)="realizarTransferencia()">Confirmar transferncia</button>
  </div>
</ng-template>
