<nav class="navbar navbar-expand-sm m-4 ">
  <a class="navbar-brand" href="#">ClipMoney</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
    aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active ">
        <a class="btn-nav nav-link" href="#" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ">
        <a class="btn-nav nav-link" href="#" routerLink="/">Como funciona <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ">
        <a class="btn-nav nav-link" href="#" routerLink="/">Quienes somos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ">
        <a class="btn-nav nav-link" href="#" routerLink="/">Contacto<span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-md-0">
      <button class="btn estilo-botones rounded-pill shadow-sm" routerLink="/login">Iniciar Sesion</button>
      <button class="btn ml-2 estilo-botones rounded-pill shadow-sm">Registrarse</button>
    </form>
  </div>
</nav>
