<form [formGroup]="formDinero">
  <div class="container">
    <!-- Campo del monto -->

    <div class="row">
      <div class="col align-self-center">
        <div class="card rounded shadow">
          <div class="card-body text-center">
            <h5 class="card-title text-left">INGRESE UN MONTO</h5>
            <label for="inputMonto" class="simboloPesos">$</label>
            <input
              type="text"
              formControlName="Monto"
              class="form-control-monto text-center"
              id="inputMonto"
              placeholder="0"
            />

            <span
              class="text-danger text-subtitle"
              *ngIf="
                formDinero.controls.Monto.errors?.required &&
                formDinero.controls.Monto.touched
              "
            >
              Dato requerido.</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="cardDatosOperacion">
      <div class="card mt-4 shadow">
        <div class="card-body">
          <h5 class="card-title text-left">Datos de la operacion</h5>
          <div class="row">
            <!-- Campo del CVU -->
            <div class="col-sm align-self-center">
              <label for="inputCVU"></label>
              <input [(ngModel)]="cvuIngresado"
                type="text"
                formControlName="inputCVU"
                class="form-control-monto"
                id="inputCVU"
                placeholder="CVU"
              />

              <span
                class="text-danger text-subtitle"
                *ngIf="
                  formDinero.controls.inputCVU.errors?.required &&
                  formDinero.controls.inputCVU.touched
                "
              >
                Dato requerido.</span
              >
              <span
                class="text-danger"
                *ngIf="
                  formDinero.controls.inputCVU.errors?.minlength &&
                  formDinero.controls.inputCVU.touched
                "
              >
                El CVU no puede tener menos de 22 digitos.</span
              >
              <span
                class="text-danger"
                *ngIf="
                  formDinero.controls.inputCVU.errors?.maxlength &&
                  formDinero.controls.inputCVU.touched
                "
              >
                El CVU no puede tener mas de 22 digitos.</span
              >
            </div>
            <!-- Combobox del tipo de operacion -->
            <div class="col-sm align-self-center">
              <div class="input-group mb-3">
                <select
                  formControlName="selectorTipoOperacion"
                  class="form-select  rounded"
                >
                  <option value="">Seleccione la operacion</option>
                  <option
                    *ngFor="let item of tiposOperaciones"
                    [ngValue]="item"
                    (change)="changeCuenta($event)"
                  >
                    {{ item }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <!-- Boton para ver los datos de la cuenta -->
            <div class="col-sm">
              <button
                type="button"
                name=""
                id=""
                class="btn btn-operacion"
                (click)="verCuenta()"
              >
                {{ labelBotonCuenta }}
              </button>
            </div>
          </div>
          <!-- Datos de la cuenta en la que se va a hacer la operacion -->
          <div class="row" id="cardDatosCuenta">
            <div class="container" *ngIf="verDatosCuenta">
              <div class="card mt-3">
                <div class="card-body">
                  <h4 class="card-title">Datos de la cuenta</h4>
                  <p class="card-text">
                    Nombre de usuario:  {{ cuentaOrigen.NombreUsuario }}
                  </p>
                  <p class="card-text">
                    Saldo de la cuenta: {{ cuentaOrigen.Saldo| currency }}
                  </p>
                  <p class="card-text">CVU de la cuenta: {{ cuentaOrigen.Cvu }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Boton para confirmar la operacion -->

    <div class="row">
      <div class="col">
        <button
        (click)="realizarOperacion()"
          type="button"
          name=""
          id=""
          class="mt-3 btn btn-operacion btn-block"
        >
          Realizar operacion
        </button>
      </div>
    </div>
  </div>
</form>
