.form-control-monto{
  border-bottom: 3px solid aqua;
  border-left:none;
  border-right :none;
  border-top:none;

  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2rem;

  outline: none;
  background-color: rgb(255, 255, 255);
}

input[type=number]:active{
  border-color: white;
}

