<nav  class="navbar navbar-expand-lg navbar-dark bg-white shadow-sm" aria-label="Fifth navbar example">
    <div class="container-fluid">
            <div class="menu-wrap" (click)= "abrirSideBar()">
                <input type="checkbox" class="toggler">
                <div class="hamburger"><div></div></div>
            </div>
      <a class="navbar-brand" href="#"> {{nombreUsuario}} <span ><img class="rounded-circle" src="../../../assets/img/foto-login.jpg" alt="" width="40px"></span></a>
    </div>
  </nav>
<ng-sidebar-container>
    <ng-sidebar [opened]= "opened">
        <!-- Sidebar -->
        <h2 class="title-card p-3">Bienvenido a ClipMoney</h2>
        <ul class="menu navbar-nav">
            <li class="nav-item"><button routerLink="/principalHome"></button></li>
            <li class="nav-item"><button (click)="openLg(content)">Ingresar Dinero</button></li>
            <li class="nav-item"><a href="" >Transferir</a></li>
            <li class="nav-item"><a href="">Giro al descubierto</a></li>
            <li class="nav-item"><a href="">Mis datos</a></li>
            <li class="nav-item"><a href="">Configuracion</a></li>
        </ul>
        <a class="btn btn-cerrarsesion m-3" href="#" role="button">Cerrar sesion</a>
    </ng-sidebar>
    <div ng-sidebar-content contentClass>
        <router-outlet></router-outlet>
    </div>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <app-pagina-principal></app-pagina-principal>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>

</ng-sidebar-container>
