<div class="login-box">
    
    <div class="login-title">
        User Log in
    </div>

    <div class="login-error">Incorrect username or password</div>
    <input class="login-input login-text" type="text" placeholder="User ID">
    <input class="login-input login-text" type="password" placeholder="Password">
    <input class="login-input login-button" type="button" value="LOGIN">

    <div class="login-forgot-password">
        Forgot <a style="color: dodgerblue; text-decoration: none;" href=""> Password? </a>
    </div>

</div>