:host{
  --color1:#7400B8;
  --color2:#6930C3;
  --color3:#5E60CE;
  --color4:#5390D9;
  --color5:#4EA8DE;
  --color6:#48BFE3;
  --color7:#56CFE1;
  --color8:#64DFDF;
  --color9:#72EFDD;
  --color10:#80FFDB;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }

  .card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background:  center url('../../../assets/img/login.png');
    background-size: cover;
  }

  .card-signin .card-body {
    padding: 2rem;
  }


  .btn-google {
    color: white;
    background-color: #ea4335;
    font-family: 'Poppins',sans-serif;

    font-size: 1rem;
  }

  .btn-facebook {
    color: white;
    background-color: #3b5998;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
  }

  .container-fluid{
      height: 45.5rem;
      font-family: 'Poppins',sans-serif;
  }

  .btn-login{
      background-color: var(--color3);
      font-size: 1rem;
  }

  .bg-gradient{
    background-color: whitesmoke;
  }

  .form-control-lg{

    font-size: 1rem;
  }
