<div class="container-fluid bg-gradient">
    <div class="container ">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5 shadow-lg">
              <div class="card-img-left d-none d-md-flex">
                 <!-- Background image for card set in CSS! -->
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Iniciar Sesion</h5>
                <div *ngIf="error" class="login-error">Nombre de usuario o contraseña incorrectos </div>
                <!-- <form class="form-signin"> -->
                  <div class="form-label-group">
                    <input [(ngModel)]="value_user" class="form-control  form-control-lg" type="text" placeholder="Nombre de Usuario" required>
                 
                  </div>
                   
                  <div class="form-label-group">
                    <input [(ngModel)]="value_pasw" class="form-control form-control-lg" type="password" placeholder="Contraseña" required>
                    
                  </div>
                  <input type="submit" (click)="login_click()" class="btn btn-lg btn-login btn-block text-white text-uppercase" type="button" value="INGRESAR">
    
                  <div class="login-forgot-password">
                        <a style="color: dodgerblue; text-decoration: none;" class="" href="">Olvide mi contraseña </a>
                  </div>           
    
                  
                  <hr class="my-4">
                  <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Ingresar con Google</button>
                  <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> ingresar con Facebook</button>
                <!-- </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    
</div>

<!-- 

    <div class="login-box">
        
        <div class="login-title ">
            Iniciar Sesión
        </div>
        
        <div *ngIf="error" class="login-error">Nombre de usuario o contraseña incorrectos </div>
        <input [(ngModel)]="value_user" (click)="limpiar_mensaje_error()" class="login-input login-text" type="text" placeholder="Nombre de Usuario" required>
        <input [(ngModel)]="value_pasw" (click)="limpiar_mensaje_error()" class="login-input login-text" type="password" placeholder="Contraseña" required>
        <input type="submit" (click)="login_click()" class="login-input login-button" type="button" value="INGRESAR">
        
        <div class="login-forgot-password">
            Olvidé mi<a style="color: dodgerblue; text-decoration: none;" href=""> Contraseña </a>
        </div>
    </div>
</div>

-->