:host{
  --color1:#7400B8;
  --color2:#6930C3;
  --color3:#5E60CE;
  --color4:#5390D9;
  --color5:#4EA8DE;
  --color6:#48BFE3;
  --color7:#56CFE1;
  --color8:#64DFDF;
  --color9:#72EFDD;
  --color10:#80FFDB;
}

.carousel-item {
    height: 45rem;
}

.estilo-home{
    top:10rem;
    color: grey;
    width: 40%;
}

h5{
    font-size: 3rem;
    color: var(--color3);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}

.btn-home{
    background-color:  var(--color3) ;
    color: white;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.featurette-heading{
    font-size: 3rem;
    color: #64dfdf;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.lead-style{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.span-style{
    color: #5e60ce;
}
